* {
  box-sizing: border-box; }

/* updated 10/30/15 (bugfix) by MG-NYC previously  9/22/15 (SOLR 1.1.1) by MG-NYC */
/*
 * Web Fonts from fontspring.com
*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_rgregular-it';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltsemibold-it';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltlight-it';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

/*Thin*/
@font-face {
  font-family: 'proxima_nova_ththin';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.svg#proxima_nova_ththin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ththin';
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.eot");
  src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.eot?#iefix") format("embedded-opentype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.woff") format("woff"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.ttf") format("truetype"), url("http://img.medscapestatic.com/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.svg#proxima_novathin_italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'proxima_nova_rgregular';
    src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'proxima_nova_rgregular';
    src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.svg") format("svg");
    font-weight: normal;
    font-style: italic; }
  @font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg") format("svg");
    font-weight: bold;
    font-style: normal; }
  @font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.svg") format("svg");
    font-weight: normal;
    font-style: italic; }
  @font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.svg") format("svg");
    font-weight: bold;
    font-style: italic; }
  @font-face {
    font-family: 'proxima_nova_rgbold';
    src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.svg") format("svg"); }
  @font-face {
    font-family: 'proxima_nova_ltlight';
    src: url("http://img.medscapestatic.com/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.svg") format("svg"); } }

html {
  font-size: 20px; }
  @media (max-width: 800px) {
    html {
      font-size: 15px; } }

body {
  font-family: "proxima_nova_rgregular", sans-serif, sans-serif;
  font-size: 1rem;
  color: #231f20; }

a {
  text-decoration: none; }

h1,
h2,
h3 {
  display: block; }

h2 {
  color: #4d4184;
  margin-bottom: 1.5rem;
  font-size: 1.5rem; }
  @media (min-width: 800px) {
    h2 + h3 {
      margin-top: -1.5rem; } }
  h2:first-child {
    margin-top: 0; }
  @media (max-width: 800px) {
    h2 {
      margin-bottom: 1rem; } }

h3 {
  color: #000;
  font-size: 1rem;
  font-family: "proxima_nova_ltsemibold", sans-serif;
  margin-bottom: .6em; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 0; }

html,
* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

/*===  Page Layout width for Desktop ===*/
.header, .main-wrapper, .footer {
  width: 980px;
  /* can be set at instance level */
  margin: auto; }

.infosite-header {
  line-height: 1;
  border-bottom: 1px solid #666;
  color: #000;
  padding: 0 10px 5px;
  margin: 10px 0; }

.header-statement {
  font-size: 10px;
  font-weight: bold;
  float: right;
  margin-top: -20px; }

.medscape-link {
  height: 20px; }

.chrome-header {
  height: 80px;
  margin-top: 25px; }

.chrome-logo img {
  width: 250px;
  height: 100%; }

.chrome-social {
  margin: -56px 10px 0 0; }

.chrome-share, .chrome-email {
  float: right;
  font-size: 9px;
  line-height: 12px;
  margin: 0 0 0 18px;
  text-align: center;
  width: 34px; }
  .chrome-share a, .chrome-email a {
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #1b88bf; }

.tooltip {
  position: absolute;
  right: 145px;
  top: 100px;
  opacity: 0;
  display: none;
  background: url(/assets/images/image_salutrib/tool-tip-bg.png);
  height: 86px;
  padding: 27px;
  width: 250px; }
  .tooltip ul {
    display: -ms-flexbox;
    display: flex; }
    .tooltip ul li {
      margin-left: 16px; }
    .tooltip ul li:first-child {
      margin-left: 10px; }

.tooltip-open {
  opacity: 1 !important;
  display: block !important; }

.infosite-footer {
  border-top: 1px solid #B7B8B8;
  font-size: 15px;
  line-height: 1.1;
  padding-left: 10px;
  padding-top: 10px; }
  .infosite-footer a {
    color: #006699; }

/*=== Onload import has to be last css on the file ===*/
.onload {
  visibility: visible !important; }
