html {
	font-size: 20px;
	@include max-brk(800px){
        font-size: 15px;
    }
}

body {
    font-family: $body-font-family, sans-serif;
    font-size: 1rem;
    color: $body-text-colour;
}

a{
    text-decoration: none;
}

h1,
h2,
h3 {
	display: block;
}

h2{
	color: $brand-primary;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	& + h3 {
		@include min-brk(800px){
			margin-top: -1.5rem;
		}
	}
	&:first-child {margin-top: 0;}
	@include max-brk(800px){
		margin-bottom: 1rem;
	}
}

h3 {
	color: #000;
	font-size: 1rem;
	font-family: $semi-bold;
	margin-bottom: .6em;
}

.chart-title {
	font-size: .8rem;
	text-transform: uppercase;
	margin-bottom: .5rem;
}

.footnote-ref {
	vertical-align: super;
	font-size: .6em;
}


ul {
    list-style: none;
    padding:0;
    margin:0;
}

ul li {
    padding-left: .65rem;
    text-indent: -.7rem;
}

ul li:before {
    content: "• ";
    color: $brand-secondary;
}