* {box-sizing: border-box;}
@mixin aspect-ratio($width, $height, $content: 'content') {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .#{$content} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@import './normalize/fonts';
@import './config';

@import './normalize/type';


body {
    margin: 0;
    padding: 0;
}

html,
* {
	text-size-adjust: none;
}


.no-scroll {
	overflow-y: hidden;
}

@import './onload';
