.infosite-header {
    line-height: 1;
    border-bottom: 1px solid #666;
    color: #000;
    padding: 0 10px 5px;
    margin: 10px 0;
}

.header-statement {
    font-size: 10px;
    font-weight: bold;
    float: right;
    margin-top: -20px;
}

.medscape-link {
    height: 20px;
}

.chrome-header {
    height: 80px;
    margin-top: 25px;
}

.chrome-logo{
    img {
        width: 250px;
        height: 100%;
    }
}
.chrome-social{
    margin: -56px 10px 0 0;
}

.chrome-share, .chrome-email {
    float: right;
    font-size: 9px;
    line-height: 12px;
    margin: 0 0 0 18px;
    text-align: center;
    width: 34px;
    a {
        vertical-align: baseline;
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        color: #1b88bf
    }
}