.article {
	margin: 0 0 20px 330px;
}

.nav-menu{
	width: 300px;
    float: left;
}

.menu-list, .sub-menu-list {
    background-color: #948db5 ;
    border-top: 1px solid #fff;
    a {
    	color: #fff;
    	padding: 20px;
    	display: inline-block;
    	vertical-align: baseline;
    	font-size: 15px;
    }
}

.menu-image, .sub-menu-image {
	background: url(/assets/images/image_salutrib/arrow.png) 15px 50% no-repeat;
	padding: 0 15px;
	vertical-align: baseline;
	cursor: pointer;
}

.menu-image {
	margin-left: 10px;
}

.sub-menu-image {
	margin-left: 30px;
}